[submodule "drake"]
	path = drake
	url = https://github.com/RobotLocomotion/drake.git
[submodule "manipulation_tracking"]
	path = manipulation_tracking
	url = https://github.com/gizatt/manipulation_tracking.git
[submodule "kinect"]
	path = kinect
	url = https://github.com/OpenHumanoids/kinect.git
[submodule "apriltags_driver"]
	path = apriltags_driver
	url = https://github.com/gizatt/apriltags_driver
